<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Usuarios">
        <td>{{item.id}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td></td>
      </tr>
 
    </tbody>
  </table>